# Python Basics Questions

# Practical Questions

In [1]:
 # 1. Write a Python program to print "Hello, World!"

print("Hello,World!")

Hello,World!

In [2]:
# 2. Write a Python program that displays your name and age.

name = "Panchanand"
age = "30"
print(name)
print(age)

Panchanand
30

In [3]:
 # 3. Write code to print all the pre-defined keywords in Python using the keyword library.

import keyword
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
 # 5.Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
# for each.

# Creating a list and a tuple with the same elements
my_list = (1, 2, 3, 4, 5)
my_tuple = (1, 2, 3, 4, 5)

print("Original list:", my_list)
print("Original tuple:", my_tuple)

Original list: (1, 2, 3, 4, 5)
Original tuple: (1, 2, 3, 4, 5)

In [5]:
# 8. Write a program to demonstrate the use of logical operators.

# Logical AND (and)

x = 5    #true
y = 10    #false
print(x > 0 and y < 20)
print(x > 10 and y < 20)

# Logical OR (or)

x = 5
y = 10
print(x > 0 or y < 5) # True
print(x > 10 or y < 5) #  False

# Logical NOT (not)

x = 5
print(not x > 0) # False
print(not x > 10) # True

True
False
True
False
False
True

In [6]:
 # 9.Write a Python program to convert user input from string to integer, float, and boolean types.

def convert_input():
    user_input = input("Enter a value: ")

    try:
        integer_value = int(user_input)
        print(f"Integer: {integer_value}, Type: {type(integer_value)}")
    except ValueError:
        print("Not a valid integer.")

    try:
        float_value = float(user_input)
        print(f"Float: {float_value}, Type: {type(float_value)}")
    except ValueError:
        print("Not a valid float.")

    if user_input.lower() == "true":
        boolean_value = True
        print(f"Boolean: {boolean_value}, Type: {type(boolean_value)}")
    elif user_input.lower() == "false":
        boolean_value = False
        print(f"Boolean: {boolean_value}, Type: {type(boolean_value)}")
    else:
        print("Not a valid boolean.")

convert_input()

Enter a value: 2
Integer: 2, Type: <class 'int'>
Float: 2.0, Type: <class 'float'>
Not a valid boolean.

In [7]:
# 12.  Write a for loop to print numbers from 1 to 10.

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
 # 13. Write a Python program to find the sum of all even numbers between 1 and 50.

total = 0
for number in range(2, 52, 2):
    total += number
print("The sum of all even numbers between 1 and 50 is:",total)

The sum of all even numbers between 1 and 50 is: 650

In [11]:
  # 14.  Write a program to reverse a string using a while loop.

def reverse_string(s):
    reversed_s = ""
    i = len(s) - 1
    while i >= 0:
        reversed_s += s[i]
        i -= 1
    return reversed_s

input_string = "hello"
reversed_string = reverse_string(input_string)
print("Original string:", input_string)
print("Reversed string:", reversed_string)

Original string: hello
Reversed string: olleh